@import '../main';
@import "../../node_modules/flag-icons/css/flag-icons.min.css";

header {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15vw;

  a {
    display: inline-block;
    height: 33%;

    img {
      height: 100%;
    }

  }

  > div {
    display: flex;
  }

  .searchWrapper {
    border-radius: 2em;
    border: 1px $borderColor solid;
    padding: 0.5em 1.5em;
    position: relative;
    margin-right: 1.5em;
  }

  input[name=search] {
    font-size: 1rem;
    border: none;
    width: 20vw;
  }

  input[name=search]:not(:placeholder-shown) + .searchIcon {
    opacity: 0;
    right: 0;
  }

  .searchIcon {
    transition: all .2s cubic-bezier(0,.58,.52,.99);
    position: absolute;
    height: 1.4rem;
    width: 1.4rem;
    right: 1em;
    top: 1em;
    transform: translateY(-42%);
    color: $borderColor;
  }

  .flagWrapper {
    width: calc(2rem + 2px);
    height: calc(2rem + 2px);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .fi.fis {
    width: 100%;
    height: 100%;
    position: absolute;
  }

}