@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$borderColor: gray;
$themeColorLight: #98d244;
$themeColorDark: #0b8d79;

* {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

root {
  font-size: 18px;
}

@mixin bezier($property) {
  transition: $property .2s cubic-bezier(0,.58,.52,.99);
}


@mixin mainBorder {
  border: 1px $borderColor solid;
}

@mixin gradientText {
  color: #0b8d79;
  background: linear-gradient(80deg, $themeColorDark, $themeColorLight);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  background: $themeColorDark;
  background: linear-gradient(180deg, $themeColorDark, $themeColorLight);
}

::-webkit-scrollbar-thumb:hover {
  background: $themeColorLight;
  background: linear-gradient(
                  180deg,
                  desaturate(lighten($themeColorDark, 10%), 10%),
                  desaturate(lighten($themeColorLight, 20%), 20%)
  );
}

